{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Rmd Group Address</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
     <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{% static "css/contact.css" %}">
<!------ Include the above in your HEAD tag ---------->
</head>
<body style="background: black">


<div class="container">
<h1 style="color: orangered">Contact Address</h1><br>
	<div class="row text-center" >
		<div class="col-sm-3 col-xs-6 first-box">
        <h1><span class="glyphicon glyphicon-earphone"></span></h1>
        <h3>Phone :</h3>
            <p><a href="tel:+91 8309215968">+91 8309215968</a></p><br>
            <p style="color: white">B. Thandrapadu, Andhra Pradesh, India</p>
    </div>
	</div>
</div>
</body>
</html>