{% load static %}
<html>
<head>
    <title>Rmd Group Gallery</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{% static "css/Galarey.css" %}">
</head>
<body>

<h1>Rmd Group images gallery</h1>
<br>
<br>
<br>
<br>
<br>
<br>
<div class="container">
    	<div id="carousel">
            <figure><img src="{% static "images/Rmdib.jpg" %}" alt="" width="200" height="600" ></figure>
            <figure><img src="{% static "images/Rmdic.jpeg" %}" alt="" width="200" height="600"></figure>
            <figure><img src="{% static "images/WhatsApp Image 2020-06-04 at 9.04.42 AM (3).jpeg" %}" alt="" width="600" height="600"></figure>
            <figure><img src="{% static "images/Rmdid.jpeg" %}" alt="" width="200" height="600"></figure>
            <figure><img src="{% static "images/Rmdia.jpeg" %}" width="200" height="600"></figure>
            <figure><img src="{% static "images/WhatsApp Image 2020-05-30 at 7.18.38 PM.jpeg" %}" alt="" width="200" height="600"></figure>
            <figure><img src="{% static "images/Rmdie.jpeg" %}" width="200" height="600"></figure>
            <figure><img src="{% static "images/IMG_20200529_182943773.jpg" %}" alt="" width="200" height="600"></figure>
            <figure><img src="{% static "images/WhatsApp Image 2020-06-04 at 9.04.42 AM.jpeg"  %}" width="300" height="600"></figure>
        </div>
	</div>
</body>
</html>
